<div class="sorting text-center">
  <%= form_for :category, url: filter_ideas_path, method: :get,  html: { class: "form-inline" } do |form| %>
    <div class="col">
      <%= t(:industries) %> <br>
      <%= form.select :industries, Industry.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div class="col">
      <%= t(:districts) %> <br>
      <%= form.select :districts, District.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div class="col">
      <%= t(:members) %> <br>
      <%= form.select :members, Member.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div class="col">
      <%= t(:require_helps) %> <br>
      <%= form.select :require_helps, RequireHelp.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div>
      <br>
      <%= form.submit t(:filter), class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>
