<div class="sorting text-center">
  <%= form_for :category, url: filter_ideas_path,  html: { class: "form-inline" } do |form| %>
    <div class="col">
      Industries <br>
      <%= form.select :industries, Industry.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div class="col">
      Districts <br>
      <%= form.select :districts, District.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div class="col">
      Members <br>
      <%= form.select :members, Member.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div class="col">
      Require Helps <br>
      <%= form.select :require_helps, RequireHelp.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
    </div>

    <div>
      <br>
      <%= form.submit 'Filter', class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>
