<div id="members">
  <% Member.all.each do |member| %>
    <span class="member" id=<%= "member_#{member.id}" %>>
      <%= button_tag "#{member.name}", type: 'button', class: 'btn btn-outline-secondary' %>
    </span>
  <% end %>
</div>

<div id="text_fields">
  <% @local_members.each do |local_member| %>
    <p id=<%= 'p_' + local_member.member_id.to_s  %>>
      <%= local_member.member.name %>
      <input type='text' value=<%= local_member.amount %> name='idea[local_members_attributes][][amount]' class='form-control'>
      <input type='hidden' value=<%= local_member.member_id %> name='idea[local_members_attributes][][member_id]'>
    </p>
  <% end %>
</div>
