<div id="members">
  <% Member.all.each do |member| %>
    <%= button_tag "#{member.name}", type: 'button', id: "member_#{member.id}", class: 'member' %>
  <% end %>
</div>

<div id="text_fields">
  <% unless idea.nil? %>
    <% idea.local_members.each do |local_member| %>
      <p id=<%= 'p_' + find_id(local_member).to_s  %>>
        <%= local_member.member.name %>
        <input type='text' value=<%= local_member.amount %> name='idea[members][][amount]'>
        <input type='hidden' value=<%= find_id(local_member) %> name='idea[members][][member_id]'>
      </p>
    <% end %>
  <% end %>
</div>
