<p>
  <%= form.label :name %> <br>
  <%= form.text_field :name, class: 'form-control' %>
</p>

<p>
  <%= form.label :description %> <br>
  <%= form.text_area :description, class: 'form-control' %>
</p>

<p>
  <%= form.label :plan %> <br>
  <%= form.text_area :plan, class: 'form-control' %>
</p>
