<p>
  <%= t(:title) %> <br>
  <%= form.text_field :name, class: 'form-control' %>
</p>

<p>
  <%= t(:description) %> <br>
  <%= form.text_area :description, class: 'form-control' %>
</p>

<p>
  <%= t(:plan) %> <br>
  <%= form.text_area :plan, class: 'form-control' %>
</p>
