<div class="row">
  <% average_rating = RatingService.average_rating(@idea) %>
  <div class="col-md-6">
    <div class="all-stars">
      <% 5.times do |i| %>
        <% if i < average_rating.to_i %>
          <div class="rating-item average"></div>
          <% else %>
          <div class="rating-item average exclude"></div>
        <% end %>
      <% end %>
    </div>
 
    <div style="display: flex;">
      <h4><%= t(:average_rating) %>:</h4><h4 class="average-rating"><%= average_rating %></h4>
    </div>
    <div style="display: flex;">
      <h4><%= t(:count_votes) %>:</h4><h4 class="count-votes"><%= RatingService.count_votes(@idea) %></h4>
    </div>
  </div>

  <div class="col-md-6">
    <% if RatingService.can_create_rating?(current_user, @idea.id) %>
      <div class="stars">
       <%= t(:offer_attractiveness) %>:
        <div class="rating" id="attraction">
          <div class="rating-item" data-rate="1"></div>
          <div class="rating-item" data-rate="2"></div>
          <div class="rating-item" data-rate="3"></div>
          <div class="rating-item" data-rate="4"></div>
          <div class="rating-item" data-rate="5"></div>
        </div>

        <%= t(:implementation_strategy) %>:
        <div class="rating" id="strategy">
          <div class="rating-item" data-rate="1"></div>
          <div class="rating-item" data-rate="2"></div>
          <div class="rating-item" data-rate="3"></div>
          <div class="rating-item" data-rate="4"></div>
          <div class="rating-item" data-rate="5"></div>
        </div>

        <%= t(:competitiveness) %>:
        <div class="rating" id="competitiveness">
          <div class="rating-item" data-rate="1"></div>
          <div class="rating-item" data-rate="2"></div>
          <div class="rating-item" data-rate="3"></div>
          <div class="rating-item" data-rate="4"></div>
          <div class="rating-item" data-rate="5"></div>
        </div>

        <%= t(:financial_attractiveness) %>:
        <div class="rating" id="finance">
          <div class="rating-item" data-rate="1"></div>
          <div class="rating-item" data-rate="2"></div>
          <div class="rating-item" data-rate="3"></div>
          <div class="rating-item" data-rate="4"></div>
          <div class="rating-item" data-rate="5"></div>
        </div>

        <button id="create-rating" class="btn btn-outline-primary"><%= t(:share) %></button>
      </div>
    <% end %>
  </div>
</div>
