<div class="sorting">
  <%= form_for :category, url: sort_ideas_path,  html: { class: "form-inline" } do |form| %>
      <div class="col">
        <%= form.select :industry, Industry.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
      </div>

      <div class="col">
        <%= form.select :district, District.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
      </div>

      <div class="col">
        <%= form.select :member, Member.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
      </div>

      <div class="col">
        <%= form.select :help, RequireHelp.all.map(&:name), {include_blank: true}, {class: 'custom-select'} %>
      </div>

        <%= form.submit 'Sort', class: 'btn btn-outline-success' %>
  <% end %>
</div>
