<%= render 'carousel' %>

<div class="container">
  <%= render 'filter' %>
  <div class="row">
    <% @ideas.each do |idea| %>
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">

          <h5 class="card-header">
            <%= link_to  idea.name, idea_path(idea.id), class: "btn btn-outline-dark" %>

            <div class="btn-group">
              <% if can?(:update, Idea) %>
                <%= link_to  t(:edit), edit_idea_path(idea.id), class: "btn btn-outline-warning"  %>
              <% end %>

              <% if can?(:destroy, Idea) %>
                <%= link_to t(:delete), idea_path(idea.id), method: :delete, data: { confirm: t(:sure) }, class: "btn btn-outline-danger"  %>
              <% end %>

            </div>
          </h5>

          <div class="card-body">

            <p class="card-text">
              <%= idea.description %>
            </p>

            <div class="text-muted">
              <%= t(:likes) %> <%= likes_count(idea.id) %> |
              <%= t(:dislikes) %> <%= dislikes_count(idea.id) %> |
              <%= t(:reviewed) %> <%= views_count(idea.id) %>
            </div>

          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
