<%= render 'carousel' %>

<div class="container">
  <div class="row">
    <% @ideas.each do |idea| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

          <h5 class="card-header">
            <%= idea.name %>
          </h5>

          <div class="card-body">

            <p class="card-text">
              <%= idea.description %>
            </p>

            <div class="btn-group">
              <%= link_to  'View', idea_path(idea), class: "btn btn-sm btn-outline-secondary" %>

              <% if can?(:update, Idea) %>
                <%= link_to  "Edit", edit_idea_path(idea), class: "btn btn-outline-warning"  %>
              <% end %>

              <% if can?(:destroy, Idea) %>
                <%= link_to  "Delete", idea_path(idea), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger"  %>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
