<div class="wrap-contanier">
  <div class="container">
    <%= render 'partials/error', record: @idea %>

    <%= form_for @idea do |f| %>

      <%= render  "plain_information", form: f %>

      <div class="row">
        <div class="col-md-3">
          <p>
            <%= t(:industries) %>: <br>
            <%= f.collection_select(:local_industries, Industry.all, :id, :name, { include_hidden: false },
                { multiple: true,  name: 'idea[local_industries_attributes][][industry_id]', class: 'custom-select'}) %>
          </p>
        </div>

        <div class="col-md-3">
          <p>
            <%= t(:districts) %>: <br>
            <%= f.collection_select(:local_districts, District.all, :id, :name, { include_hidden: false },
                { multiple: true, name: 'idea[local_districts_attributes][][district_id]', class: 'custom-select'}) %>
          </p>
        </div>

        <div class="col-md-3">
          <p>
            <%= t(:require_helps) %>: <br>
            <%= f.collection_select(:local_require_helps, RequireHelp.all, :id, :name, { include_hidden: false },
                { multiple: true, name: 'idea[local_require_helps_attributes][][require_help_id]', class: 'custom-select'}) %>
          </p>
        </div>
      </div>

      <p>
        <%= t(:members) %>: <br>
        <%= render  "members" %>
      </p>

      <p>
        <%= f.submit t(:create), class: 'btn btn-outline-primary' %>
      </p>
    <% end %>

  </div>
</div>
