<% if @idea.errors.any? %>
  <ul>
    <% @idea.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @idea do |f| %>

  <%= render  "plain_information", form: f %>

  <p>
    <%= f.collection_select(:local_industries, Industry.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
  </p>

  <p>
    <%= f.collection_select(:local_districts, District.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
  </p>

  <% Member.all.each do |member| %>
    <p>
      <%= member.name %> <%= text_field_tag "idea[members][][amount]", '0' %>
      <%= hidden_field_tag "idea[members][][member_id]", "#{member.id}" %>
    </p>
  <% end %>

  <p>
    <%= f.collection_select(:local_require_helps, RequireHelp.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to  "Back", ideas_path %>
