<% @idea.errors.full_messages %>
<%= form_for @idea do |f| %>
  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </p>

    <p>
      <%= f.collection_select(:local_industries, Industry.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
    </p>

    <p>
      <%= f.collection_select(:local_districts, District.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
    </p>
 
    <p>
      <%= f.collection_select(:local_members, Member.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
    </p>

  <p>
    <%= f.label :plan %> <br>
    <%= f.text_area :plan %>
  </p>

    <p>
      <%= f.collection_select(:local_require_helps, RequireHelp.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
    </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
