<% if @idea.errors.any? %>
  <ul>
    <% @idea.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @idea do |f| %>

  <%= render  "plain_information", form: f %>

  <p>
    Industries: <br>
    <%= f.collection_select(:local_industries, Industry.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
  </p>

  <p>
    Districts: <br>
    <%= f.collection_select(:local_districts, District.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
  </p>

  <p>
    Members: <br>
    <%= render  "members" %>
  </p>

  <p>
    We need: <br>
    <%= f.collection_select(:local_require_helps, RequireHelp.all, :id, :name, { include_hidden: false }, { multiple: true }) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to  "Back", ideas_path %>
