<div class="wrap-contanier">
  <div class="container">
    <h1>
      <%= @idea.name %>
      <div class="btn-group">

        <% if can?(:update, Idea) %>
          <%= link_to  t(:edit), edit_idea_path(@idea), class: "btn btn-outline-warning"  %>
        <% end %>

        <% if can?(:destroy, Idea) %>
          <%= link_to  t(:delete), idea_path(@idea), method: :delete, data: { confirm: t(:sure) }, class: "btn btn-outline-danger"  %>
        <% end %>

        <% if can?(:update_active_time, @idea) %>
          <%= link_to 'Increase activity time', update_active_time_idea_path(@idea),method: :post, data: { confirm: t(:sure) }, class: 'btn btn-outline-success' %>
        <% end %>

      </div>
    </h1>
    <p class="text-muted">
      <%= t(:date) %> <%= @idea.created_at.to_date %>
      <%= link_to @idea.user.name, businessman_path(@idea.user) %> <br>
      <%= t(:reviewed) %> <%= @idea.views.count %>
    </p>

    <% if can?(:create, Like) %>
      <p>
        <%= hidden_field_tag 'idea_id', "#{@idea.id}" %>

        <div class="btn-group">

          <div>
            <%= like_button(@idea) %>
          </div>

          <div>
            <%= dislike_button(@idea) %>
          </div>

        </div>        
      </p>
    <% end %>

    <%= t(:likes) %> <span id="like-count"><%= @idea.likes.count %></span> |
    <%= t(:dislikes) %> <span id="dislike-count"><%= @idea.dislikes.count %></span>

    <p>
      <h4><%= t(:description) %>:</h4>
      <%= @idea.description %> <br>
    </p>

    <div class="row">
      <div class="col-md-3">
        <h4><%= t(:industries) %>: </h4>
        <ul>
          <% @idea.industries.each do |industry| %>
            <li><%= industry.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-3">
        <h4><%= t(:districts) %>:</h4>
        <ul>
          <% @idea.districts.each do |district| %>
            <li><%= district.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-3">
        <h4><%= t(:members) %>:</h4>
        <ul>
          <% @local_members.each do |local_member| %>
            <li><%= local_member.member.name %> 
              <%= local_member.amount %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-3">
        <h4><%= t(:require_helps) %>:</h4>
        <ul>
          <% @idea.require_helps.each do |need| %>
            <li><%= need.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <p>
      <h4><%= t(:plan) %>:</h4>
      <%= @idea.plan %> <br>
    </p>

    <div style="display: flex;">
      <h3><%= t(:responded) %>:</h3> <h3 id="responded"><%= @interests.size %></h3>
    </div>

    <% if current_user&.businessman? && (current_user&.id == @idea.user.id) %>
      <%= render 'responded', interests: @interests %>
    <% end %>

    <% if can?(:create, Interest) %>
      <% unless user_was_interested?(@idea) %>

        <div id="form-error"></div>

        <div id="new-interest">
          <%= link_to t(:can_help), new_interest_path(idea_id: @idea.id), remote: true, class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    <% end %>

    <hr>
    <%= render 'rating' %>

    <%= hidden_field_tag 'lang', I18n.locale%>
  </div>
</div>
