<%= @idea.name %> <br>

<p>
  Description: <br>
  <%= @idea.description %> <br>
</p>

<p>
  Plan: <br>
  <%= @idea.plan %> <br>
</p>

<dl>
  <dt>Industries:</dt>
  <% @idea.industries.each do |industry| %>
    <dd><%= industry.name %></dd>
  <% end %>
</dl>

<dl>
  <dt>Districts:</dt>
  <% @idea.districts.each do |district| %>
    <dd><%= district.name %></dd>
  <% end %>
</dl>

<dl>
  <dt>Members:</dt>
  <% @local_members.each do |local_member| %>
    <dd><%= local_member.member.name %> 
      <%= local_member.amount %></dd>
  <% end %>
</dl>

<dl>
  <dt>We need:</dt>
  <% @idea.require_helps.each do |need| %>
    <dd><%= need.name %></dd>
  <% end %>
</dl>

<h2 id="responded">Responded: <%= @interests.size %></h2>
<% if current_user&.businessman? && (current_user&.id == @idea.user.id) %>
  <%= render 'responded', interests: @interests %>
<% end %>
<br>

<% if can?(:create, Interest) %>
  <% unless user_was_interested?(@idea) %>

    <div id="form-error"></div>

    <div id="new-interest">
      <%= link_to 'I can help', new_interest_path(idea_id: @idea.id), remote: true %>
    </div>
  <% end %>
<% end %>
<br>

<h3>Account: <%= link_to @idea.user.name, businessman_path(@idea.user) %></h3>

<%= link_to  "Back", ideas_path %>
