<div class="wrap-contanier">
  <div class="container">
    <h1>
      <%= @idea.name %>
      <div class="btn-group">

        <% if can?(:update, Idea) %>
          <%= link_to  "Edit", edit_idea_path(@idea), class: "btn btn-outline-warning"  %>
        <% end %>

        <% if can?(:destroy, Idea) %>
          <%= link_to  "Delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger"  %>
        <% end %>

      </div>
    </h1>
    <p class="text-muted">
      <%= @idea.created_at.to_date %> by
      <%= link_to @idea.user.name, businessman_path(@idea.user) %> <br>
      <%= @idea.views.count %> reviewed
    </p>

    <% if can?(:create, Like) %>
      <%= hidden_field_tag 'idea_id', "#{@idea.id}" %>

      <div id="like">
        <% if like_present?(@idea) %>
          <%= hidden_field_tag 'like_id', "#{like_id(@idea)}" %>
          <button id="remove-like" class="btn btn-outline-danger">Like</button>
        <% else %>
          <button id="add-like" class="btn btn-outline-primary">Like</button>
        <% end %>
      </div>

    <% end %>

    <span id="like-count"><%= @idea.likes.count %></span> likes

    <p>
      <h4>Description:</h4>
      <%= @idea.description %> <br>
    </p>

    <div class="row">
      <div class="col-md-3">
        <h4>Industries: </h4>
        <ul>
          <% @idea.industries.each do |industry| %>
            <li><%= industry.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>Districts:</h4>
        <ul>
          <% @idea.districts.each do |district| %>
            <li><%= district.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>Members:</h4>
        <ul>
          <% @local_members.each do |local_member| %>
            <li><%= local_member.member.name %> 
              <%= local_member.amount %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>We need:</h4>
        <ul>
          <% @idea.require_helps.each do |need| %>
            <li><%= need.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <p>
      <h4>Plan:</h4>
      <%= @idea.plan %> <br>
    </p>

    <h2 id="responded">Responded: <%= @interests.size %></h2>
    <% if current_user&.businessman? && (current_user&.id == @idea.user.id) %>
      <%= render 'responded', interests: @interests %>
    <% end %>
    <br>

    <% if can?(:create, Interest) %>
      <% unless user_was_interested?(@idea) %>

        <div id="form-error"></div>

        <div id="new-interest">
          <%= link_to 'I can help', new_interest_path(idea_id: @idea.id), remote: true, class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    <% end %>
    <br>

  </div>
</div>
