<%= @idea.name %> <br>

<p>
  Description: <br>
  <%= @idea.description %> <br>
</p>

<p>
  Plan: <br>
  <%= @idea.plan %> <br>
</p>

<dl>
  <dt>Industries:</dt>
  <% @idea.industries.each do |industry| %>
    <dd><%= industry.name %></dd>
  <% end %>
</dl>

<dl>
  <dt>Districts:</dt>
  <% @idea.districts.each do |district| %>
    <dd><%= district.name %></dd>
  <% end %>
</dl>

<dl>
  <dt>Members:</dt>
  <% @idea.local_members.each do |local_member| %>
    <dd><%= local_member.member.name %> 
      <%= local_member.amount %></dd>
  <% end %>
</dl>

<dl>
  <dt>We need:</dt>
  <% @idea.require_helps.each do |need| %>
    <dd><%= need.name %></dd>
  <% end %>
</dl>

Responded: <%= @idea.interests.size %> 
<% if current_user&.businessman? %>
  <% @interests.each do |interest| %>
    <%= link_to interest.user.email, sponsor_path(interest.user) %> 
  <% end %>
<% end %>
<br>

<% if can?(:create, Interest) %>
  <% unless user_was_interested?(@idea) %>
    <%= link_to 'I can help', interests_path(idea_id: @idea.id), method: :post  %>
  <% end %>
<% end %>
<br>

<h1>Account: <%= link_to @idea.user.name, businessman_path(@idea.user) %></h1>

<%= link_to  "Back", ideas_path %>
