<div class="wrap-contanier">
  <div class="container">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'partials/error', record: resource %>

      <div class="field">
        <%= t(:password) %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= t(:password_confirmation) %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= t(:current_password) %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit t(:update), class: 'btn btn-outline-success' %>
      </div>

    <% end %>

  </div>
</div>
