<% @interests.order(created_at: :desc).each do |interest| %>
  <hr>
  <%= link_to interest.idea.name, idea_path(interest.idea), class: 'btn btn-outline-secondary' %> <br>

  <p class="text-muted">
    <%= t(:date) %>: <%= interest.idea.created_at.to_date %>
    <%= link_to interest.idea.user.email, businessman_path(interest.idea.user) %>
  </p>

  <%= t(:description) %>:
  <p>
     <%= interest.idea.description %>
  </p>

  <p>
    <%= t(:message) %>: <%= interest.message %>
  </p>

  <p>
    <%= t(:reviewed) %>: <%= interest.idea.views.count %> |
    <%= t(:likes) %>: <%= interest.idea.likes.count %> |
    <%= t(:dislikes) %>: <%= interest.idea.dislikes.count %> |
    <%= t(:average_rating) %>: <%= RatingService.average_rating(interest.idea) %> |
    <%= t(:count_votes) %>: <%= RatingService.count_votes(interest.idea) %>
  </p>
<% end %>

<% if @pagy.count > 5 %>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
