<div class="wrap-contanier">
  <div class="container">
    <%= render 'users/show', user: @user %>

    <hr>

    <h1>
      <%= t(:support) %>:
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalInterests">
        <%= t(:look) %>
      </button>
    </h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <h4><%= t(:industries) %>: </h4>
        <ul>
          <% @user.industries.each do |industry| %>
            <li><%= industry.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-4">
        <h4><%= t(:districts) %>:</h4>
        <ul>
          <% @user.districts.each do |district| %>
            <li><%= district.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-4">
        <h4><%= t(:can_help) %>:</h4>
        <ul>
          <% @user.require_helps.each do |need| %>
            <li><%= need.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if can?(:update, @user) %>
      <h4><%= link_to t(:change_search_criteria), edit_sponsor_path(@user), class: 'btn btn-outline-primary' %></h4>
    <% end %>

    <% if current_user&.id == @user.id %>
      <%= render 'interests' %>
    <% end %>

  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalInterests">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t(:ideas) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @interests.each do |interest| %>
         <h3>
           <%= link_to interest.idea.name, idea_path(interest.idea), class: 'btn btn-outline-primary' %>
          </h3>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
      </div>
    </div>
  </div>
</div>
