<%= form_for(@interest, remote: true) do |f| %>

  <div class="field">
    <%= f.label :message %> <br>
    <%= f.text_field :message, class: 'form-control' %> <br>
  </div>

  <%= f.hidden_field :idea_id, value: params[:idea_id] %>

  <%= f.submit class: 'btn btn-outline-primary' %>
<% end %>
