<%= form_for(@interests, remote: true) do |f| %>

  <div class="field">
    <%= f.label :message %> <br>
    <%= f.text_field :message %>
  </div>

  <%= f.hidden_field :idea_id, value: @idea_id %>

  <%= f.submit %>
<% end %>
