<%= t('new_idea.greeting') %>

<%= @idea.name %>

<%= t(:description) %>:
  <%= @idea.description %>

<%= t(:plan) %>:
  <%= @idea.plan %>

<%= t(:industries) %>:
<% @idea.industries.each do |industry| %>
  --<%= industry.name %></li>
<% end %>

<%= t(:districts) %>:
<% @idea.districts.each do |district| %>
  --<li><%= district.name %></li>
<% end %>

<%= t(:require_helps) %>:
<% @idea.require_helps.each do |help| %>
  --<li><%= help.name %></li>
<% end %>

<%= link_to t(:look), idea_url(locale: I18n.locale, id: @idea.id) %>
