<h1><%= t('new_idea.greeting') %></h1>

<h2><%= @idea.name %></h2>

<%= t(:description) %>:
<p>
  <%= @idea.description %>
</p>

<%= t(:plan) %>:
<p>
  <%= @idea.plan %>
</p>

<%= t(:industries) %>:
<ul>
  <% @idea.industries.each do |industry| %>
    <li><%= industry.name %></li>
  <% end %>
</ul>

<hr>

<%= t(:districts) %>:
<ul>
  <% @idea.districts.each do |district| %>
    <li><%= district.name %></li>
  <% end %>
</ul>

<hr>

<%= t(:require_helps) %>:
<ul>
  <% @idea.require_helps.each do |help| %>
    <li><%= help.name %></li>
  <% end %>
</ul>

<hr>

<%= link_to 'Review', idea_url(@idea) %>
