<% if can?(:read, Interest) %>
  <% @user.ideas.each do |idea| %>
    <hr>
    <p>
      <%= link_to idea.name, idea_path(idea), class: 'btn btn-outline-secondary' %>
      <%= link_to 'Edit', edit_idea_path(idea), class: 'btn btn-outline-warning' %>
      <%= link_to 'Delete', idea_path(idea), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
      <p>
        Description: <br>
        <%= idea.description %>
      </p>
    </p>

    <p>
      Reviewed: <%= idea.views.count %> |
      Likes: <%= idea.likes.count %> |
      Dislikes: <%= idea.dislikes.count %> |
      Average rating: <%= RatingServise.average_rating(idea) %>
    </p>

    <% idea.interests.each do |interest| %>
      <p>
        <%= link_to interest.user.name, sponsor_path(interest.user), class: 'btn btn-outline-primary' %>
        Message: <%= interest.message %>
      </p>
    <% end %>
  <% end %>
<% end %>
