<% if current_user&.id == @user.id %>
  <% @ideas.order(created_at: :desc).each do |idea| %>
    <hr>
    <p>
      <%= link_to idea.name, idea_path(idea), class: 'btn btn-outline-secondary' %>
      <%= link_to 'Edit', edit_idea_path(idea), class: 'btn btn-outline-warning' %>
      <%= link_to 'Delete', idea_path(idea), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>

      <p class="text-muted">
        Date:  <%= idea.created_at.to_date %>
      </p>

      <p>
        Description: <br>
        <%= idea.description %>
      </p>
    </p>

    <p>
      Reviewed: <%= idea.views.count %> |
      Likes: <%= idea.likes.count %> |
      Dislikes: <%= idea.dislikes.count %> |
      Average rating: <%= RatingServise.average_rating(idea) %> |
      Count votes: <%= RatingServise.count_votes(idea) %>
    </p>

    <ul>
      <% idea.interests.each do |interest| %>
        <li>
          <p>
            <%= link_to interest.user.email, sponsor_path(interest.user) %>
            Message: <%= interest.message %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
