<% if current_user&.id == @user.id %>
  <% @ideas.order(created_at: :desc).each do |idea| %>
    <hr>
    <p>
      <%= link_to idea.name, idea_path(idea), class: 'btn btn-outline-secondary' %>
      <%= link_to t(:edit), edit_idea_path(idea), class: 'btn btn-outline-warning' %>
      <%= link_to t(:delete), idea_path(idea), method: :delete, data: { confirm: t(:sure) }, class: 'btn btn-outline-danger' %>

      <p class="text-muted">
        <%= t(:date) %>:  <%= idea.created_at.to_date %>
      </p>

      <p>
        <%= t(:description) %>: <br>
        <%= idea.description %>
      </p>
    </p>

    <p>
      <%= t(:reviewed) %>: <%= idea.views.count %> |
      <%= t(:likes) %>: <%= idea.likes.count %> |
      <%= t(:dislikes) %>: <%= idea.dislikes.count %> |
      <%= t(:average_rating) %>: <%= RatingService.average_rating(idea) %> |
      <%= t(:count_votes) %>: <%= RatingService.count_votes(idea) %>
    </p>

    <ul>
      <% idea.interests.each do |interest| %>
        <li>
          <p>
            <%= link_to interest.user.email, sponsor_path(interest.user) %>
            <%= t(:message) %>: <%= interest.message %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @pagy.count > 5 %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
<% end %>
