<div class="wrap-contanier">
  <div class="container">

    <%= render 'users/show', user: @user %>

    <hr>

    <h1>
      <%= t(:ideas) %>:
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalIdeas">
        <%= t(:look) %>
      </button>
    </h1>

    <%= render 'ideas' %>

  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalIdeas">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><%= t(:ideas) %></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <% @user.ideas.each do |idea| %>
          <% if can?(:read, idea) %>
            <h2><%= link_to idea.name, idea_path(idea), class: 'btn btn-outline-primary' %></h2>
          <% end %>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
      </div>

    </div>
  </div>
</div>
